:root {
    --text-color: #121218;
    --bg-color: #F2F3F8;
}

[data-theme="dark"] {
    --text-color: #FCFCFC;
    --bg-color: #20212c;
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: BasierSquare;
  font-weight: bold;
  background-color: var(--bg-color);
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 480px);
  gap: 31px 87px;
  grid-gap: 31px 87px;  /* Firefox 52-60 (you're welcome Helen) */
  padding: 50px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}

.header {
  display: flex;
  align-items: center;
}

.header #icon {
  margin-right: 22px;
  cursor: pointer;
}

.header h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

.header h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2.9px;
  margin: 0;
}

#header-text a {
  font-weight: 300;
  font-size: 24px;
  color: #8b6bff;
  display: block;
  text-align: right;
  text-decoration: none;
  margin-top: 4px;
  margin-bottom: -32px;
}

#header-text a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.month {
  grid-row: span 1;
  grid-column: span 1;
  max-width: 480px;
}

.month h3 {
  font-size: 32px;
  margin: 0;
  padding-bottom: 8px;
  color: var(--text-color);
}

.month ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  margin: 0;
  padding: 0;
}

.day {
  display: grid;
  list-style-type: none;
  width: 69px;  /* nice */
  height: 60px;
  padding: 1px 4px;
  font-weight: 400;
  border: 1px solid black;
  background-color: white;
}

.day.row-1 { grid-row: 1; }
.day.row-2 { grid-row: 2; }
.day.row-3 { grid-row: 3; }
.day.row-4 { grid-row: 4; }
.day.row-5 { grid-row: 5; }
.day.row-6 { grid-row: 6; }

.day.col-1 { grid-column: 1; }
.day.col-2 { grid-column: 2; }
.day.col-3 { grid-column: 3; }
.day.col-4 { grid-column: 4; }
.day.col-5 { grid-column: 5; }
.day.col-6 { grid-column: 6; }
.day.col-7 { grid-column: 7; }

.day:not(.col-1):not(.day-1) {
  border-left: none;
}

.day:not(.row-last) {
  border-bottom: none;
}

.day.day-1:not(.col-1) {
  margin-left: -1px;
  width: 70px;
}

.day.row-last {
  margin-bottom: -1px;
  height: 61px;
}

.legend {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
}

.legend-day {
  display: inline-block;
  margin-right: 12px;
  margin-left: 24px;
  width: 45px;
  height: 45px;
}

.legend-day:first-child {
  margin-left: 0;
}

.current {
  margin-top: 36px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

#current {
  display: inline-block;
  color: white;
  padding: 5px 12px;
  border-radius: 8px;
  font-weight: 500;
}

.girl-month-complete { background-color: #76bfea; }
.girl-month-planned { background-color: #bce1f7; }
.break-complete { background-color: #ef8181; }
.break-planned { background-color: #ffaaaa; }
.bobs-complete { background-color: #87d059; }
.bobs-planned { background-color: #b8dfa0; }

.legend-girl-month {
  background: linear-gradient(to right bottom, #76bfea 50%, #bce1f7 50%);
}
.legend-break {
  background: linear-gradient(to right bottom, #ef8181 50%, #ffaaaa 50%);
}
.legend-bobs {
  background: linear-gradient(to right bottom, #87d059 50%, #b8dfa0 50%);
}

html.transiton, html.transition *, html.transition *:before, html.transition *:after{
    transition: all 300ms !important;
    transition-delay: 0 !important;
}
